.item{
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1918e;
    border-radius: 15px;
    color: #f4f0e5;
    margin-top: 5px;
}

.delate_icon,
.approval_icon{
    width: 25px;
    height: 25px;
}

.approval_icon{
    margin-left: 10px;
}

.delate_icon{
    margin-right: 10px;
}

#task{
    margin: 0;
}

#finished_work{
    margin: 0;
    text-decoration: line-through;
}

.item div{
    display: flex;
    align-items: center;
}

.text-overflow {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}