form{
    width: 90%;
    max-width: 250px;
    background-color: #e1918e;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}

label{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #f4f0e5;
    font-family: 'Lobster', cursive;
    margin-bottom: 5px;
}

textarea{
    background-color: #ed707e;
    border: 2px solid #e15e6e;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    color: #f4f0e5;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    height: 76px;
    width: calc(100% - 15px);
}

textarea::placeholder{
    color: #e0c4ae;
    font-family: 'Montserrat';
    font-weight: 400;
    font-weight: bold;
}

textarea:focus{
    outline-color: #c3e6d4;
}

.TodoForm-buttonContainer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: calc(45% - 15px);
    height: 30px;
    border-radius: 10px;
    border:none;
    font-family: 'Montserrat';
}

.TodoForm-button--add{
    background-color: #e15e6e;
    border: 2px solid #e15e6e;
    color: #e1918e;
    font-weight: bold;
}

.TodoForm-button--add:hover{
    background-color: #6aea6a;
    border: none;
    color: #202329;
    box-shadow: 0px 0px 15px rgba(97, 250, 97, 0.9);
}

.TodoForm-button--cancel{
    background-color: #e15e6e;
    border: 2px solid #e15e6e;
    color: #e1918e;
    font-weight: bold;
}

.TodoForm-button--cancel:hover{
    background-color: #ff261b;
    border: none;
    color: #202329;
    box-shadow: 0px 0px 15px rgba(255, 38, 27, 0.9);
}

.Modal{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}