.add-button{
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: transparent;
    border-style: none;
}
.add-button svg{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #e1918e;
    stroke-width: 0.7px;
}

.add-button svg:hover,
.add-button svg:active{
    color: #6aea6a;
}

@media (max-width: 768px){
    .add-button{
        width: 30px;
        height: 30px;
    }
}