.add-task{
    display: flex;
    align-items: center;
    width: 252.7px;
    padding-right: 3px;
    padding-left: 3px;
}
#add{
    flex: 1;
    background-color: #c3e6d4;
    width: 215px;
    height: 30px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    outline: none;
    text-align: center;
    margin-right: 5px;
    padding: 0;
}

#add_button{
    flex: 0;
    width: 25px;
    height: 25px;
    border: 0;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: #e1918e;
    border-radius: 50%;
}

#approval_icon{
    margin: 0;
    padding: 0;
}

.true{
    display: none;
}