.title{
    color: #e0c4ae;
    font-family: 'Fasthand', cursive;
    font-size: 120px;
    margin: 0;
    height: 180px;
}

.state{
    color: #f4f0e5;
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 45px;
}


@media (max-width: 768px){
    .title{
        font-size: 50px;
        height: 90px;
    }
    .state{
        font-size: 25px;
    }
}